{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ partial "page-title.html" . }}
{{ partial "cta.html" . }}
{{ with $data.homepage.service }}
<!-- service -->
<section class="section bg-secondary-grey">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .service_item }}
      <a href="{{ .link | markdownify }}">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card rounded-0 text-center hover-bg-secondary">
            <div class="card-body p-4">
              <em class="icon-rounded bg-primary text-white mb-4">
                <img src="/images/icons/{{ .icon | urlize }}_white.svg" class="iconratio60" />
              </em>
            <h4 class="card-title">{{ .title | markdownify }}</h4>
            <P class="card-text content">{{ .content | markdownify }}</P>
          </div>
        </div>
      </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /service -->
{{ end }}
{{ end }}
