<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"/>
    <link rel="canonical" href="{{ .Permalink }}" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ .Title }}{{ if .IsHome }} - {{ .Site.Params.Title2 }}{{ else }} - {{ .Site.Title }}{{ end }}" />
    <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />
    <!-- OG data -->
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
    <meta property="og:title" content="{{ .Site.Title }}{{ if .IsHome }} - {{ .Site.Params.Title2 }}{{ else }} - {{ .Title }}{{ end }}">
    <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" >
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:image" content="{{ if .IsPage }}{{ .Site.BaseURL }}{{ .Page.Params.image }}{{ else }}{{ .Site.BaseURL }}images/about/logo.webp{{ end }}" />
    <meta property="og:logo" content="{{ .Site.BaseURL }}images/about/about2.webp" />
    {{ range .Params.categories }}<meta property="article:section" content="{{ . }}" />{{ end }}
    {{ if isset .Params "date" }}<meta property="article:published_time" content="{{ time .Date }}" />{{ end }}

    {{ if .IsHome }}
    <script type="application/ld+json">
      {
         "@context": "https://schema.org",
         "@type": "LocalBusiness",
         "legalName": "{{ .Site.Params.title }}",
         "name": "{{ .Site.Params.title }}",
         "image": "{{ .Site.BaseURL }}images/about/logo.webp",
         "@id": "",
         "url": "{{ .Permalink }}",
         "telephone": "+33 1 89 16 87 84",
         "address": {
           "@type": "PostalAddress",
           "streetAddress": "17 Rue des Acacias",
           "addressLocality": "Paris",
           "postalCode": "75017",
           "addressCountry": "FR"
         },
         "geo": {
           "@type": "GeoCoordinates",
           "latitude": 46.2192649,
           "longitude": 2.051700
         },
         "openingHoursSpecification": {
           "@type": "OpeningHoursSpecification",
           "dayOfWeek": ,
           "opens": "09:00",
           "closes": "19:00"
         },
         "sameAs": "https://github.com/Smart-Infra-Solutions",
         "contactPoint": {
           "@type": "ContactPoint",
           "telephone": "+33 1 89 16 87 84",
           "contactType": "customer service",
           "email": "contact@si.solutions",
           "areaServed": "FR",
           "availableLanguage": "fr"
         },
         "aggregateRating": {
           "@type": "AggregateRating",
           "ratingValue": "100",
           "bestRating": "100",
           "ratingCount": "1"
         }
      }

    </script>
    {{ end }}
    {{ if .IsPage }}
        <script type="application/ld+json">
        {{if eq .Section "post"}}
        {
          "@context": "http://schema.org",
          "url": "{{ .Permalink }}",
          "image": "{{ .Site.BaseURL }}images/about/logo.webp",
          "@type": "Article",
          "headline": "{{ .Title }}",
          "genre": "{{ range .Params.categories }}{{ . }}{{ end }}",
          "datePublished": "{{ time .Date }}",
          "description": "{{ .Description }}",
          "author": {
              "@type": "Person",
              "name": "{{ .Params.author }}",
              "url": "{{ .Site.BaseURL }}author/{{ .Params.Author | urlize }}"
            }
         }
        {{ else }}
        {
          "@context": "http://schema.org",
          "url": "{{ .Permalink }}",
          "image": "{{ .Site.BaseURL }}images/about/logo.webp",
          "@type": "Article",
          "headline": "{{ .Title }}",
          "genre": "{{ range .Params.categories }}{{ . }}{{ end }}",
          "datePublished": "{{ time .Date }}",
          "description": "{{ .Description }}",
          "author": {
              "@type": "Person",
              "name": "{{ .Params.author }}",
              "url": "{{ .Site.BaseURL }}author/{{ .Params.Author | urlize }}"
            }
        }

        {{ end }}
        </script>
    {{ end }}
