{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Laisser nous un message</h2>
      </div>
      <div class="col-lg-12 text-center">
        <form action="{{ .Site.Params.contact_form_action }}" method="POST" class="row">
          <input type="hidden" name="_next" value="https://si.solutions/thanks">
          <input type="hidden" name="_url" value="http://si.solutions/contact">
          <input type="hidden" name="_template" value="table">
          <input type="text" name="_honey" style="display:none">
          <div class="col-lg-6">
            <input type="_replyto" class="form-control mb-4" placeholder="Votre email">
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4" placeholder="Votre Nom">
          </div>
          <div class="col-lg-12">
            <input type="text" name="_url" class="form-control mb-4" placeholder="Sujet">
          </div>
          <div class="col-lg-12">
            <textarea name="message" class="form-control mb-4" placeholder="Message"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Soumettre</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}
